.main {
  background: #f2f2f2;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  // margin-inline-start: 35rem;
}
.section {
  // display: flex;
  // justify-content: start;
  width: 100%;
  background: #ffffff;
  padding: 4rem;
}

.form {
  // margin-block-start: 2rem;
  width: 50%;
  @media (max-width: 540px) {
    width: 100%;
  }
}

.group {
  padding-block-start: 2rem;
  line-height: 3rem;
}

//   .forgotPassword{
//     color: #6F6A6B;
//     font-weight: 400;
//     font-size: 1.4rem;
//   }

.btnSection {
  width: 100%;
  display: flex;
  justify-content: center;
}
.terms {
  cursor: pointer;
  font-weight: 700;
}
.uploaded{
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 2rem;
  margin-block: 1rem;
}
.pointer{
  cursor: pointer;

}