
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 80%; /* Full viewport width */
    padding-block: 4rem;
}

.section {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Optional: Center text horizontally */
    // padding-inline: 4rem;
    width: 80%;
}

.email{
    font-weight: 700;
    color: #242021;
    font-size: 2.4rem;
    padding-block: 2rem;
}
.para{
    color: #6F6A6B;
    font-weight: 400;
    font-size: 2.4rem;

}